<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="register-component">
  <mat-card>
    <mat-card-header class="padding-m">
      <mat-card-title>Cadastro de Usuário</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form">
      <mat-card-content>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome Completo</mat-label>
          <input matInput placeholder="Digite seu nome completo" formControlName="fullName">
          @if (form.get('fullName')?.errors?.['required']) {
          <mat-error>O nome completo é obrigatório</mat-error>
          }
          @if (form.get('fullName')?.errors?.['minlength']) {
          <mat-error>O nome tem menos de 3 caracteres</mat-error>
          }
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. email@example.com" formControlName="email">
          @if (form.get('email')?.errors?.['required']) {
          <mat-error>O Email é obrigatório</mat-error>
          }
          @if (form.get('email')?.errors?.['email']) {
          <mat-error>Utilize um Email válido</mat-error>
          }
        </mat-form-field>
        <app-password-field [control]="passwordControl"></app-password-field>
      </mat-card-content>
      <mat-card-actions>
        <button matButton="filled" class="full-width" (click)="submit()" [disabled]="form.invalid">Cadastrar</button>
      </mat-card-actions>
    </form>
  </mat-card>

</body>

</html>