.top-menu {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.top-menu a {
  text-decoration: none;
  color: black;
}

.top-menu button:hover {
  color: white;
}

.img {
  width: 2em;
}